// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification{
  color: black;
  background-color: red;
}

.masthead{
  padding: 10% 0%
}

.masthead h1 {

  font-size: 5.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));

  -webkit-background-clip: text;
}
.masthead .btn-primary {
  width: 80px;
  margin: 0 10px;
}

.masthead h2 {
}

.home-container{
  background: #f8f8f8;
  margin: 100px;
}

.ruby-button{
  background: lightblue;
  width: 40px;
  height: 30px;
  margin: 0px 5px 0px 0px;
  border-radius: 0 0 15px 15px;
  text-color: white;
  text-align: center;
  font-weight: lighter;
  font-size: medium;
}

.ruby-button-alone{
  background: lightblue;
  width: 50px;
  height: 40px;
  margin: 0px 5px 0px 0px;
  text-color: white;
  text-align: center;
  font-weight: lighter;
  font-size: medium;
}