// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification{
  color: black;
  background-color: red;
}

.masthead{
  padding: 10% 0%
}

.masthead h1 {

  font-size: 5.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));

  -webkit-background-clip: text;
}
.masthead .btn-primary {
  width: 80px;
  margin: 0 10px;
}

.masthead h2 {
}