// Place all the styles related to the sign_up controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrong_password {
  color: red;
}

.hidden {
  display: none;
}

.notification-error {
  display: none;
}
.notification-alert {
  display: none;
}